<div id="<%= dom_id books_libraries %>">
  <p>
    <strong>Book:</strong>
    <%= books_libraries.book_id %>
  </p>

  <p>
    <strong>Library:</strong>
    <%= books_libraries.library_id %>
  </p>

</div>
